body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #1f1346;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity:0;

    .dot{
        width:1px;
        height:100px;
        border-radius: 50%;
        background: #7c6bb6;
        position:absolute;
    }

    .dot2{
        width:12px;
        height:3px;
        border-radius: 50%;
        border: 1px solid #7c6bb6;
        //background: #7c6bb6;
        position:absolute;
    }

    #ripples {
        width:160px;
        height:25px;
        left: 0;
        bottom: 85px;
        position: absolute;
    }

    #city {
        left: 0;
        bottom: 0;
        position: absolute;
    }

    #car {
        left: 81px;
        bottom: 102px;
        width:55px;
        height:36px;
        position: absolute;

        #car_upper {
            position: absolute;
        }

        #car_lower {
            position: absolute;
        }
    }

    #txt1 {
        left: 0;
        top: 0;
        opacity:0;
        clip: rect(0px, 160px, 107px, 0px);
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #txt2 {
        left: 0;
        top: 0;
        opacity:0;
        clip: rect(107px, 160px, 192px, 0px);
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #txt3 {
        left: 0;
        top: 0;
        opacity:0;
        clip: rect(192px, 160px, 242px, 0px);
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #pin {
        left: 48px;
        bottom: 185px;
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }



    #cta {
        left: 27px;
        top: 269px;
        width: 108px;
        height: 23px;
        opacity:0;
        position: absolute;

        #cta_img {
            z-index: 2;
            transform: translate3d(0, 0, 0.1px);
            position: absolute;
        }
        #cta_bg {
            left: 2px;
            top: 2px;
            width: 104px;
            height: 19px;
            background: #000b38;
            position: absolute;
        }
    }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    #border {
        border: 1px solid #ccc;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }


}
